@import url('https://fonts.googleapis.com/css? family=Oswald:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #050505;
}

.cube {
    position: relative;
    width: 300px;
    height: 300px;
    
    transform-style: preserve-3d;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
}

.cube div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0f0f0f,#0000ff);
    transform: rotateY(calc(90deg * var(--x))) translateZ(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.cube div span h2
{
    position: absolute;
    color: #fff;
    font-size: 4rem;
    transform: rotateZ(50px);
}
.cube div span h2:nth-child(1)
{
    color: rgba(0, 0, 0, 0.3);
    filter: blur(2px);
    transform: rotateZ(0) translateY(25px);
}

.top
{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    font-size:2em;
    color: #fff;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}
.top::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #00f;
    transform: translateZ(-370px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 0, 255, 0.2),
                0 0 200px rgba(0, 0, 255, 0.4),
                0 0 300px rgba(0, 0, 255, 0.6),
                0 0 400px rgba(0, 0, 255, 0.8),
                0 0 500px rgba(0, 0, 255, 1);
}
